<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main-contacto.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Contacto</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container-1">
        <span class="title">Laboratorio Miralab</span>

        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="../index.html" class="main-nav-link">Inicio</a>
            </li>
            <li>
              <a href="productos.html" class="main-nav-link">Productos</a>
            </li>
            <li>
              <a href="presupuesto.html" class="main-nav-link">Presupuesto</a>
            </li>
            <li>
              <a href="contacto.html" class="main-nav-link hear">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container header-container-2">
        <div class="header-container-2-inner">
          <h1 class="heading-primary">
            Servicio y calidad para el diagnóstico de tu salud
          </h1>
          <p>Todos los análisis clínicos a tú alcance</p>
          <a href="#" class="btn btn-round">Conócenos</a>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN -->
    <main>
        <div class="container">
            <div class="contact-box">
                <h2 class="heading-secondary">Ubica tu clínica</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.3959915150767!2d-96.42577878530304!3d19.046319387104926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c49f7c3f953d9b%3A0x1fc1f4f9f1144aa4!2sMiraLab!5e0!3m2!1ses!2ses!4v1635685497035!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
                <div class="box-info">
                    <h4 class="box-title"><i class="fas fa-map-marker-alt"></i> Dirección</h4>
                    <p>Calle Hidalgo No.111 entre calle Zamora y Abasolo. CP 94240 Veracruz, México.</p>
                    <h4 class="box-title"><i class="fas fa-calendar-alt"></i> Horario</h4>
                    <p>Lunes - Sábado: 6:00 am - 3:00 pm</p>
                    <p>Domingo: 7:00 am - 2:00 pm</p>
                    <h4 class="box-title"><i class="fas fa-phone-alt"></i> Teléfono</h4>
                    <p>999 999 9999</p>
                    <h4 class="box-title"><i class="fas fa-envelope"></i> Correo</h4>
                    <a href="mailto:miralab@gmail.com">miralab@gmail.com</a>
                </div>
            </div>      
        </div>
        
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img
              src="../images/logo_miralab.jpg"
              alt="Miralab logo"
              class="logo"
            />
          </a>
          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2022 Miralab, Inc. Todos los Derechos Reservados
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contacto</p>
          <address class="contacts">
            <p class="address">
              Calle Hidalgo No.111 entre calle Zamora y Abasolo CP 94240
              Veracruz, México
            </p>
            <p>
              <a class="footer-link" href="tel:999-999-9999">999-999-9999</a
              ><br />
              <a class="footer-link" href="mailto:miralab@gmail.com"
                >miralab@gmail.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Cuenta</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Crear una cuenta</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Compañia</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">¿Quiénes somos?</a></li>
            <li><a class="footer-link" href="#">Nuestra Misión</a></li>
            <li><a class="footer-link" href="#">Servicios</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Recursos</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Ayuda</a></li>
            <li><a class="footer-link" href="#">Terminos y Privacidad</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- END FOOTER -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
