<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main-presupuesto.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Presupuesto</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container-1">
        <span class="title">Laboratorio Miralab</span>

        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="../index.html" class="main-nav-link">Inicio</a>
            </li>
            <li>
              <a href="productos.html" class="main-nav-link">Productos</a>
            </li>
            <li>
              <a href="presupuesto.html" class="main-nav-link hear"
                >Presupuesto</a
              >
            </li>
            <li>
              <a href="contacto.html" class="main-nav-link">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container header-container-2">
        <div class="header-container-2-inner">
          <h1 class="heading-primary">
            Servicio y calidad para el diagnóstico de tu salud
          </h1>
          <p>Todos los análisis clínicos a tú alcance</p>
          <a href="#" class="btn btn-round">Conócenos</a>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN -->
    <main>
      <section class="section-cta">
        <div class="container">
          <div class="cta">
          <div class="cta-text-box">
            <h2 class="heading-secondary">Obten tu cita!</h2>
            <p>Datos del paciente</p>
            
            <form action="#" class="cta-form">
              <div>
                <label for="full-name">Nombre y apellidos <span class="asterisco">*</span></label>
                <input
                  id="name"
                  name="info-paciente"
                  type="text"
                  placeholder="Nombre y apellidos"
                  required
                />
              </div>

              <div>
                <label for="email">Correo <span class="asterisco">*</span></label>
                <input
                  id="email"
                  name="info-paciente"
                  type="email"
                  placeholder="some@example.com"
                  required
                />
              </div>

              <div>
                <label for="telf">Teléfono<span class="asterisco">*</span></label>
                <input
                  id="telef"
                  name="info-paciente"
                  type="tel"
                  pattern="[0-9]{9}"
                  title="Introduce un número de teléfono de 9 digitos"
                  required
                  maxlength="9"
                />
              </div>

              <div>
                <label for="informacion" class="form_info">Solicite más información</label
              >
              </div>

              <div>         
            <textarea
              rows="6"
              cols="80"
              name="info"
              id="informacion"
            ></textarea>
              </div>
            
            <button class="btn btn--form">Enviar</button>

            <div>
              <label for="privacidad"
              ><input
                type="checkbox"
                name="privacidad"
                id="privacidad"
                class="privacidad"
                value="privacidad"
                required
              />Acepto la política de privacidad</label
            >
            </div>
            </form>
          </div>

          <div
            class="cta-img-box"
            role="img"
            aria-label="Mujer al teléfono"
          ></div>
        </div>
      </section>
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img
              src="../images/logo_miralab.jpg"
              alt="Miralab logo"
              class="logo"
            />
          </a>
          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2022 Miralab, Inc. Todos los Derechos Reservados
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contacto</p>
          <address class="contacts">
            <p class="address">
              Calle Hidalgo No.111 entre calle Zamora y Abasolo CP 94240
              Veracruz, México
            </p>
            <p>
              <a class="footer-link" href="tel:999-999-9999">999-999-9999</a
              ><br />
              <a class="footer-link" href="mailto:miralab@gmail.com"
                >miralab@gmail.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Cuenta</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Crear una cuenta</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Compañia</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">¿Quiénes somos?</a></li>
            <li><a class="footer-link" href="#">Nuestra Misión</a></li>
            <li><a class="footer-link" href="#">Servicios</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Recursos</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Ayuda</a></li>
            <li><a class="footer-link" href="#">Terminos y Privacidad</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- END FOOTER -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
