<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/main-productos.css" />
    <link rel="stylesheet" href="../css/galeria.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Productos Miralab</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header header-banner-2">
      <div class="header-container-1">
        <span class="title">Laboratorio Miralab</span>

        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a href="../index.html" class="main-nav-link">Inicio</a>
            </li>
            <li>
              <a href="productos.html" class="main-nav-link hear">Productos</a>
            </li>
            <li>
              <a href="presupuesto.html" class="main-nav-link">Presupuesto</a>
            </li>
            <li>
              <a href="contacto.html" class="main-nav-link">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container header-container-2">
        <div class="header-container-2-inner">
          <h1 class="heading-primary">
            Servicio y calidad para el diagnóstico de tu salud
          </h1>
          <p>Todos los análisis clínicos a tú alcance</p>
          <a href="#" class="btn btn-round">Conócenos</a>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN -->
    <main>
      <div class="container">
        <div class="section-gallery grid grid--3-cols">
          <div class="gallery-item">
            <img
              src="../images/gallery-1.jpg"
              alt="Prueba de ETS"
              class="gallery-img"
            />
            <h4 class="card-title">
              Pruebas ETS – Enfermedades de Transmisión Sexual
            </h4>
            <p>
              Detección de Enfermedades de Transmisión Sexual (VIH, Hepatitis B,
              Hepatitis C, Sífilis)
            </p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>

          <div class="gallery-item">
            <img
              src="../images/gallery-2.jpg"
              alt="Análisis Microbiota Intestinal"
              class="gallery-img"
            />
            <h4 class="card-title">
              Análisis de Microbiota Intestinal y Vaginal
            </h4>
            <p>
              Estatus de protección inmunitaria, mucosa y pH del medio
              intestinal.
            </p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>

          <div class="gallery-item">
            <img
              src="../images/gallery-3.jpg"
              alt="Pruebas Diagnósticas"
              class="gallery-img"
            />
            <h4 class="card-title">Pruebas Diagnósticas</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              incidunt
            </p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>

          <div class="gallery-item">
            <img
              src="../images/gallery-4.jpg"
              alt="Seminograma"
              class="gallery-img"
            />
            <h4 class="card-title">Seminograma REM – Espermiograma</h4>
            <p>
              Análisis de Semen. Seminograma. Seminograma REM. Fragmentación ADN
              espermático.
            </p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>

          <div class="gallery-item">
            <img
              src="../images/gallery-5.jpg"
              alt="Detección del VPH"
              class="gallery-img"
            />
            <h4 class="card-title">
              Detección del VPH (Virus de Papiloma Humano)
            </h4>
            <p>Detección del VPH (Virus de Papiloma Humano)</p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>

          <div class="gallery-item">
            <img
              src="../images/gallery-6.webp"
              alt="Prueba Marcadores tumorales"
              class="gallery-img"
            />
            <h4 class="card-title">Pruebas Marcadores tumorales</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
              corporis quidem
            </p>
            <a href="#" class="btn btn-link">Más Info</a>
          </div>
        </div>
      </div>
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container grid grid--footer">
        <div class="logo-col">
          <a href="#" class="footer-logo">
            <img
              src="../images/logo_miralab.jpg"
              alt="Miralab logo"
              class="logo"
            />
          </a>
          <ul class="social-links">
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a class="footer-link" href="#"
                ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
              ></a>
            </li>
          </ul>

          <p class="copyright">
            Copyright &copy; 2022 Miralab, Inc. Todos los Derechos Reservados
          </p>
        </div>
        <div class="address-col">
          <p class="footer-heading">Contacto</p>
          <address class="contacts">
            <p class="address">
              Calle Hidalgo No.111 entre calle Zamora y Abasolo CP 94240
              Veracruz, México
            </p>
            <p>
              <a class="footer-link" href="tel:999-999-9999">999-999-9999</a
              ><br />
              <a class="footer-link" href="mailto:miralab@gmail.com"
                >miralab@gmail.com</a
              >
            </p>
          </address>
        </div>
        <nav class="nav-col">
          <p class="footer-heading">Cuenta</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Crear una cuenta</a></li>
            <li><a class="footer-link" href="#">Sign in</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Compañia</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">¿Quiénes somos?</a></li>
            <li><a class="footer-link" href="#">Nuestra Misión</a></li>
            <li><a class="footer-link" href="#">Servicios</a></li>
          </ul>
        </nav>
        <nav class="nav-col">
          <p class="footer-heading">Recursos</p>
          <ul class="footer-nav">
            <li><a class="footer-link" href="#">Ayuda</a></li>
            <li><a class="footer-link" href="#">Terminos y Privacidad</a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- END FOOTER -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
